<footer class="row">
	<div class="small-12 columns">
		<p class="text-right">A <a href="http://zurb.foundation.com" rel="external">Foundation 5</a> Template for <a href="http://www.locomotivecms.com/">Locomotive CMS</a>. A <a href="http://www.planktin.com">Planktin Project</a>.</p>
    </div>

    <div class="small-12 medium-8 columns">
        <div class="row">
            <div class="small-12 columns">
                <ul class="inline-list right" style="font-size:xx-large;">
                	<li>
						<a href="https://www.facebook.com/planktin" target="_blank">
							<i class="fi-social-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/planktinproject" target="_blank">
							<i class="fi-social-twitter"></i>
						</a>
					</li>
					{% comment %}
					<!-- TODO - Google+, RSS, other? tweet feed? -->
					{% endcomment %}
					<li>
						<a href="mailto: info@planktin.com">
							<i class="fi-mail"></i>
						</a>
					</li>
				</ul>
            </div>
        </div>
    </div>
</footer>